<input type="checkbox" id="close-open" />
<label for="close-open">
    <div class="hamburger">
    </div>
</label>
<a href="/"><img src="Logo.jpg" alt="Avatar" class="avatar"></a>
<div class="nav">
    <ul>
        <li><a href="/appointments">Appointments</a></li>
        <li><a href="/adddoctors">Register Doctor</a></li>
        <li><a href="/logoutadmin">Logout</a></li>
    </ul>
</div>