<input type="checkbox" id="close-open" />
<label for="close-open">
    <div class="hamburger">
    </div>
</label>
<a href="/"><img src="Logo.jpg" alt="Avatar" class="avatar"></a>
<div class="nav">
    <ul>
        <li><a href="/patientappointments">Appointments</a></li>
        <li><a href="/patientprofile">profile</a></li>
        <li><a href="/loginadmin">Admin</a></li>
        <li><a href="/bookappointment">Appointment</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
</div>